@font-face {
    font-family: summerfont;
    src: url(/misc/NatureBeautyPersonalUse-9Y2DK.ttf);
}

@font-face {
    font-family: travelfont;
    src: url(/misc/trip-sans-variable.ttf);
}


@keyframes rotate {
    0%{transform: rotate(0deg);}
    12.5%{transform: rotate(15deg);}
    37.5%{transform: rotate(-15deg);}
    62.5%{transform: rotate(10deg);}
    87.5%{transform: rotate(-10deg);}
    100%{transform: rotate(0deg);}
}

h1 {
    font-size: 34px;
    font-family: travelfont;
}

h2 {
    font-size: 21px;
    font-family: travelfont;
}

p {
    font-family: travelfont;
    font-size: 13;
    font-weight: 500;
    line-height: 1.3;
    color: #252529;
}

header {
    grid-area: header;
    justify-self: center;
    margin-bottom: auto;
}

header h1 {
    font-family: summerfont;
    font-weight: 550;
    color: #252529;
    margin-top: auto;
    margin-left: 1vw;
}

#logolink {
    text-decoration: none;
}

nav {
    grid-area: nav;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: auto;
}

.indexstructure {
    display: grid;
    grid-template-areas:
    "header nav nav"
    "herosection herosection herosection"
    "footer footer footer";
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.4fr;
    column-gap: 5vw;
    height: 100vh;
}

.mainstructure {
    display: grid;
    grid-template-areas:
    "header nav nav"
    "introsection introsection introsection"
    "norway norway norway"
    "greece greece greece"
    "neworleans neworleans neworleans"
    "endsections endsections endsections"
    "footer footer footer";
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.4fr;
    column-gap: 5vw;
    height: 100vh;
}

.cardpagestructure {
    display: grid;
    grid-template-areas:
    "header nav nav"
    "flexcards flexcards flexcards"
    "footer footer footer";
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.4fr;
    column-gap: 5vw;
    height: 100vh;
}


.flexnavbar {
    display: flex;
    gap: 7vw;
}

.navlink {
    font-family: travelfont;
    font-size: 21px;
    font-weight: bold;
    color: #252529;
    text-decoration: none;
    text-underline-offset: 5px;
}

.navlink:hover {
    color: #2196F3;
    text-decoration:underline;
}

#destlinkactive {
    text-decoration:underline;
}

#contactlinkactive {
    text-decoration:underline;
}


#logoicon {
    position:relative;
    bottom: 3px;  
    transform-origin: 50% 100%;
    display:inline-flex;
    color: #2196F3;
    scale: 0.9;
}

#logo:hover #logoicon{
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

#logoicon:hover {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1)
}

.herosection {
    grid-area: herosection;
    position:relative;
    justify-self: center;
    text-align:center;
}

#heroimg {
    filter: brightness(100%);
    width: 50%;
    border-radius: 20px;
}

#heroslogan {
    line-height: 1.15;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width:350px;
    text-shadow: 0.5px 0.5px 3px black;
}

#heroimg:hover {
    filter:brightness(85%);
}

#herolink:hover #heroimg:not(:hover) {
    filter:brightness(85%);
}

.introsection {
    grid-area: introsection;
    margin-left: 10vw;
    margin-right: 10vw;
}

.destsection {
    margin-left: 10vw;
    margin-right: 10vw;
}

#norway {
    grid-area: norway;
}

#norwayimg {
    width: 1000px;
    border-radius: 20px;
}

#greece {
    grid-area: greece;
}

#greeceimg {
    width: 1000px;
    border-radius: 20px;
}

#neworleans {
    grid-area: neworleans;
}

#neworleansimg {
    width: 1000px;
    border-radius: 20px;
 }

.flexcards {
    grid-area: flexcards;
    margin-top: 10px;
    margin-left: 12vw;
    margin-bottom: 20px;
    display: flex;
    column-gap: 8vw;
    row-gap: 10vh;
    width: 80vw;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.biocard {
    display: block;
    min-height: 400px;
    max-height: 400px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition:all 0.5s ease-in-out;
}

.biocard:hover {
    max-height: 800px;
    width: 270px;
}

.cardimg {
    width: 100%;
}

.name {
    margin-top: 10px;
    margin-bottom: 1px;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.bio {
    margin-left: 7px;
    margin-right: 5px;
}

footer {
    grid-area: footer;
    justify-self: center;
    background-color: #2196F3;
    width: 101.3%;
    margin-top: 2em;
    height: 15vh;
    overflow-x: hidden;
}

.footerlogo {
    text-indent: 10px;
    margin-top: 35px;
    color: white;
}

#footericon {
    margin-right: 25px;
    scale: 2.5;
    color: #2196F3;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

#travelillustration {
    width: 320px;
    margin-left: 935px;
    position: absolute;
    top: 363px;
}